* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    font: inherit;
    cursor: pointer;
    color: #000;
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
}

footer {
    display: none;
    text-align: center;
    padding-bottom: 1em;
    font-size: 0.8em;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.calculator {
    border-radius: 20px;
    background-color: #2f2e2ec8;
    padding: 1em 0.5em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
}

.screen-container {
    display: flex;
    justify-content: center;    
}

.screen {
    background-color: #f4f3f3;
    width: 95%;
    height: 8em;
    border-radius: 15px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display {
    margin-right: 0.5em;
    font-size: 1.8em;
    text-align: right;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5em;
    height: 100%;
    width: 95%;
    align-self: center;
}

.key {
    border-radius: 5px;
    font-size: 1.2em;
}

.zero {
    grid-column: span 2;
}

#equals {
    grid-row: span 2;
}


@media (min-width: 500px) {
    .calculator {
        max-width: 300px;
        max-height: 400px;
        margin: 6em 0;
    }

    .screen {
        height: 6em;
    }

    footer {
        display: block;
        text-align: center;
        padding-bottom: 1em;
        font-size: 0.8em;
    }
} 